html {
  height: 100%;
}

body {
  color: greenyellow;
  background-color: black;
  font-family: monospace, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.color-display {
  border: solid 2px white;
  padding: 200px;
  margin: 10px;
}

.title-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title-container > img {
  height: 50px;
  width: 50px;
}

@media (max-width: 640px) {
  .color-display {
    padding: 20px;
  }
}